#create_account_box
{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
  position: relative;
  background: #FFFFFF;
  width: 35%;
  height: 100%;
  margin: 10% auto 10%;
  padding: 3%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 10%;
  padding: 4%;
  box-sizing: border-box;
  font-size: 120%;
}
.form label,
#create_btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #333;
  width: 100%;
  border: 0;
  padding: 4%;
  color: #FFFFFF;
  font-size: 120%;
  -webkit-transition: all 0.3 ease;
  transition: all 1000ms ease;
  cursor: pointer;
}
#create_btn
{
  margin-top: 10%;
}
.form label
{
  padding-left:10%;
  padding-right: 10%; 
}
.form label:hover
{
  background-color:#454545;
}
.create_btn:hover {
  background:#454545;
}
#profile_photo_file
{
  display: none;
}
.form .message ,.form .forgot{
  margin: 10% 0 0;
  color: #b3b3b3;
  font-size: 120%;
}
.form .message a,.form .forgot a {
  color: #222;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.succesfully
{
  font-size: 120%;
  margin-bottom: 7%;
  color: #666;
}
.succesfully a
{
  text-decoration: none;
  color: #000;
  font-size: 125%;
}
.succesfully a:hover
{
  text-decoration: underline;
}